
<%- include('../partials/head') %>
<div class="wrapper">
    <%- include('../partials/sidebar') %>

        <%- include('../partials/navbar') %>

        <div class="content-page">
            <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                           <div>
                               <h4 class="mb-3">Agents assigned to this company</h4>
                               <!-- <p class="mb-0">A dashboard provides you an overview of user list with access to the most important data,<br>
                                functions and controls. </p> -->
                           </div>
                           <a href="assignportfolio" class="btn btn-primary add-list"><i class="las la-plus mr-3"></i>Assigned Portfolio</a>
                       </div>
                   </div>
                   <div class="col-lg-12">
                       <div class="table-responsive rounded mb-3">
                       <table class="data-table table mb-0 tbl-server-info">
                           <thead class="bg-white text-uppercase">
                               <tr class="ligth ligth-data">
                                  
                                   <th>S/N</th>
                                   <th>First Name</th>
                                   <th>Last Name</th>
                                   <th>Email</th>
                                   <th>Phone</th>
                                   <th>Status</th>
                                   <th>Action</th>
                               </tr>
                           </thead>
                           <tbody class="ligth-body">
                               
                                <% agents.forEach((element,index) => { %>
                                 
                                    <tr>
                                  
                                   <td><%= index+1 %></td>
                                   <td><%= element.firstname %></td>
                                   <td><%= element.lastname %></td>
                                   <td><%= element.email %></td>
                                   <td><%= element.mobile %></td>
                                   <td>Assigned</td>
                                  
                                   <td>
                                       <div class="d-flex align-items-center list-action">
                                        <form method="post" action="/unassignagent">
                                           <button class="badge badge-info mr-2" name="agentid" value="<%= element._id %>" type="submit">
                                            unassign
                                            <input name="companyid" value="<%= company._id %>" hidden type="text">
                                           </button>
                                        </form>   
                                           <!-- <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                                               href="#"><i class="ri-pencil-line mr-0"></i></a>
                                           <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"
                                               href="#"><i class="ri-delete-bin-line mr-0"></i></a> -->
                                       </div>
                                   </td>
                               </tr>
                               <% }) %>
                               
                               
                           </tbody>
                       </table>
                       </div>
                   </div>
               </div>
</div>
<%- include('../partials/footer') %>