

<%- include('../partials/head') %>
    <div class="wrapper">
        <%- include('../partials/sidebar') %>

            <%- include('../partials/navbar') %>
                <div class="content-page">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                                    <div>
                                        <h4 class="mb-3"><%= debtorslist.companyname %></h4>
                                        <!-- <p class="mb-0">Returns dashboard shows the graphical representation of the channel
                                        and Reference <br>wise returns with the comparison to the total units sold..</p> -->
                                    </div>
                                    <!-- <a href="page-add-return.html" class="btn btn-primary add-list"><i
                                        class="las la-plus mr-3"></i>Add Returns</a> -->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="table-responsive rounded mb-3">
                                    <table class="data-table table mb-0 tbl-server-info">
                                        <thead class="bg-white text-uppercase">
                                            
                                            <tr class="ligth ligth-data">
                                                
                                        
                                                <% for( let index = 0; index < headings.length; index++ ) { %>
                                                    
                                                    <th> <%= headings[index] %> </th>
                                               
                                                <% } %>
                                               
                                              
                                            </tr>
                                        </thead>
                                        <tbody class="ligth-body">
                                            <% debtorslist.portfolio.forEach(element => { %>
                                                <tr>
                                                    <% for( let index = 0; index < headings.length; index++ ) { %>
                                                    
                                                        <th> <%= element[headings[index]] %> </th>
                                                   
                                                    <% } %>
                                                    
                                                       
                                                </tr>
                                                <% }) %>
                                           


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Page end  -->

                    </div>
                </div>

                <%- include('../partials/footer') %>